/*
color: #F9BA32; //sunshine
color: #426E86; //steel blue
color: #F8F1E5; //bone
color: #2F3131; //coal
color: rgb(249, 130, 50);//orange
*/

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: #2f3131;
  margin-top: 40px;
  bottom: 0px;
  padding: 0;
  align-items: center;
  align-content: center;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3 {
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: #fff;
  background-image: url('../images/header1.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header .header-content {
  position: relative;
  width: 100%;
  padding: 100px 15px 70px;
  text-align: center;
}

header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 300;
}

.header-content .header-content-inner p {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, .7);
}

.alink {
  color: white !important;
}

.container {
  flex: auto;
  margin-top: 40px;
}

@media(min-width:768px) {
  header {
    min-height: 95%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    padding: 0 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  header .header-content .header-content-inner {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
  }
  header .header-content .header-content-inner h1 {
    font-size: 100px;
  }
  header .header-content .header-content-inner p {
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    font-size: 18px;
  }
}

.card>img {
  height: 200px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
}


/* On mouse-over, add a deeper shadow */

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3);
}


/* Add some padding inside the card container */

.cardContainer {
  padding: 2px 16px;
}

img {
  border-radius: 5px 5px 0 0;
}

.chip {
  display: inline-block;
  padding-left: 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.chip .ic {
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}


/*coming soon page which will delete soon*/

.bgimg {
  /* Background image */
  /* background-image: url('/w3images/forestbridge.jpg'); */
  /* Full-screen */
  /* height: 100%; */
  height: 500px;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}


/* Position text in the middle */

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


/* Style the <hr> element */

hr {
  border-color: #F8F1E5;
  margin: 10px 0px 40px 0px;
}


/*end of coming soon*/

#homeSection {
  padding-top: 120px
}

#featherSection {
  padding-top: 120px
}

#pricingSection {
  padding-top: 120px
}

#aboutusSection {
  padding-top: 120px
}

#myInputProject,
#myInputDevice {
  background-image: url('/mypublic/assets/images/search-icon.png');
  /* Add a search icon to input */
  background-position: 3px 8px;
  /* Position the search icon */
  background-size: 35px 35px;
  background-repeat: no-repeat;
  /* Do not repeat the icon image */
  width: 100%;
  /* Full-width */
  font-size: 16px;
  /* Increase font-size */
  padding: 12px 20px 12px 40px;
  /* Add some padding */
  border: 1px solid #ddd;
  /* Add a grey border */
  margin-bottom: 12px;
  /* Add some space below the input */
}

.btn-create {
  margin-right: 30px;
}

.no-data {
  display: none;
  text-align: center;
}

.no-data {
  display: none;
  text-align: center;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}


/* Loaded */

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}


/* JavaScript Turned Off */

.no-js #loader-wrapper {
  display: none;
}

.icon {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-left: 20px;
  border-radius: 50%;
}

.icon:hover {
  opacity: 0.7;
}

.b-facebook {
  background: #3B5998;
  color: white;
}

.b-twitter {
  background: #55ACEE;
  color: white;
}

.b-linkedin {
  background: #007bb5;
  color: white;
}

.b-youtube {
  background: #bb0000;
  color: white;
}

.text-block {
  background: rgba(47, 49, 49, 0.7);
  color: white;
  padding: 5%;
  text-align: center;
}

.parallax1 {
  /* The image used */
  background-image: url('/mypublic/assets/images/parallax.jpg');
  /* Full height */
  min-height: 70vh;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url('/mypublic/assets/images/parallax.jpg');
  /* Full height */
  min-height: 70vh;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* The image used */
  background-image: url('/mypublic/assets/images/parallax.jpg');
  /* Full height */
  min-height: 70vh;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-select {
  background: transparent;
  color: white;
  border-radius: 1rem;
  background-image: url('/mypublic/assets/images/arrow.png');
  background-position: right 5px top 5px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.custom-select:focus {
  border-color: white;
  background-image: url('/mypublic/assets/images/arrow.png');
  background-position: right 5px top 5px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.custom-select:hover {
  background: rgba(255, 255, 255, 0.1);
  background-image: url('/mypublic/assets/images/arrow.png');
  background-position: right 5px top 5px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

.custom-option {
  color: #2F3131;
  border-radius: 1rem;
}

.card-data {
  /*overflow: auto;*/
  width: 100%;
  /*max-width: 525px;*/
  height: 100%;
  padding: 10px;
}

svg {
  width: 100%;
}
