<div id="footer" class="container-fluid" style="height: auto">

  <style>
    .footertext {
      color: #ffffff;
      padding: 35px;
      padding-bottom: 0px;
    }
  </style>

  <div class="d-flex flex-column">
    <div class="p-2">
      <h2 class="footertext">About Us:</h2>
    </div>
    <!-- <div class="p-2">
      <div class="d-flex justify-content-start">
        <div class="chip" style="margin-left:20px">
          <div class="d-flex justify-content-start" style="padding-right:10px">
            <img src="/mypublic/assets/images/avatar1.png" alt="Person" max-width="96" max-height="96"> Chayanont Eamwiwat
          </div>
        </div>
        <div class="chip" style="margin-left:20px">
          <div class="d-flex justify-content-start" style="padding-right:10px">
            <img src="/mypublic/assets/images/avatar1.png" alt="Person" max-width="96" max-height="96"> Panayu Keelawat
          </div>
        </div>
        <div class="chip" style="margin-left:20px">
          <div class="d-flex justify-content-start" style="padding-right:10px">
            <img src="/mypublic/assets/images/avatar2.png" alt="Person" max-width="96" max-height="96"> Wannita Takerngsaksiri
          </div>
        </div>
      </div>
    </div> -->
    <div class = "p-2">
      <div align="center">
          <img src="/mypublic/assets/images/chulaengineering.png" max-width="300">
          <img src="/mypublic/assets/images/NSC_Logo.png" width="90" style="margin-left:50px">
      </div>
    </div>
  </div>
  <div style="height:40px" />
</div>

</html>
