
<div id="footer" class="container-fluid">
    <style>
       .footertext {
            color: #ffffff;
            padding: 35px;
        }
    </style>
    <h3 class="footertext">About Us:</h3>
    <div class="chip">
      <img src="/mypublic/assets/images/avatar1.png" alt="Person" width="96" height="96">
      Mos
    </div>
    <div class="chip">
      <img src="/mypublic/assets/images/avatar1.png" alt="Person" width="96" height="96">
      Oath
    </div>
    <div class="chip">
      <img src="/mypublic/assets/images/avatar2.png" alt="Person" width="96" height="96">
      Gam
    </div>
    <div style="height:40px"/>
</div>

</html>
