<% include header.ejs %>

  <body data-spy="scroll" data-target="#navbar-example" class="indexBody">
    <link rel="stylesheet" href="/mypublic/assets/css/CSSindex.css">
    <header>
      <div class="header-content">
        <div class="header-content-inner" id="homeButton">
          <div class="text-block">
            <h1>Intelligent Things</h1>
            <hr>
            <div class="typewriter">
              <p style="font-size:1.8em">- Monitor your World, Create your Way -</p>
            </div>
            <a href="#homeSection" class="btn btn-primary btn-lg">Engage Now</a>
          </div>
        </div>
      </div>
    </header>
    <div id="homeSection" class="container-fluid">
      <div class="d-flex justify-content-center">
        <h1> Getting Started </h1>
      </div>
      <div class="bgimg">
        <div class="middle">
          <h1>COMING SOON</h1>
          <hr>
          <p>35 days</p>
        </div>
      </div>
    </div>
    <div class="parallax1"></div>
    <div id="featherSection" class="container-fluid" style="height:1000px; margin-bottom:150px">
      <div class="d-flex justify-content-center">
        <h1> Features </h1>
      </div>
      <div class="d-flex justify-content-center">
        <hr style="width:20%;" />
      </div>
      <div class="d-flex justify-content-center">
        <div>
          <div class="card" style="width:92%;max-width:300px; height:350px;">
            <img src="/mypublic/assets/images/iphone.jpg" alt="Avatar" style="width:100%;">
            <div class="cardContainer">
              <h4><b>Easy Managing</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
        </div>
        <div>
          <div class="card" style="width:92%;max-width:300px; height:350px;">
            <img src="/mypublic/assets/images/react.jpg" alt="Avatar" style="width:100%">
            <div class="cardContainer">
              <h4><b>Interactive</b></h4>
              <p>Receiving messege from your devices when having risk</p>
            </div>
          </div>
        </div>
        <div>
          <div class="card" style="width:92%;max-width:300px; height:350px;">
            <img src="/mypublic/assets/images/visualize.jpg" alt="Avatar" style="width:100%">
            <div class="cardContainer">
              <h4><b>Visualization</b></h4>
              <p>Moniter your data from sensor in real time.</p>
            </div>
          </div>
        </div>
      </div>
      <div style="height:20px"></div>
      <div class="d-flex justify-content-center">
        <div>
          <div class="card" style="width:92%;max-width:300px; height:350px;">
            <img src="/mypublic/assets/images/Chat.jpg" alt="Avatar" style="width:100%">
            <div class="cardContainer">
              <h4><b>Chating</b></h4>
              <p>Chat with your device</p>
            </div>
          </div>
        </div>
        <div>
          <div class="card" style="width:92%;max-width:300px; height:350px;">
            <img src="/mypublic/assets/images/realdata.jpg" alt="Avatar" style="width:100%">
            <div class="cardContainer">
              <h4><b>External Data</b></h4>
              <p>Process your data with external data</p>
            </div>
          </div>
        </div>
        <div>
          <div class="card" style="width:92%;max-width:300px; height:350px;">
            <img src="/mypublic/assets/images/tracking.jpg" alt="Avatar" style="width:100%">
            <div class="cardContainer">
              <h4><b>Track your Riskmo</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax2"></div>
    <!-- <div id="pricingSection" class="container-fluid">
      <div class="d-flex justify-content-center">
        <h1> Pricing </h1>
      </div>
      <div style="height: 500px;"></div>
    </div>
    <div class="parallax3"></div> -->
    <script>
      $(document).ready(function() {
        // Add scrollspy to <body>
        //$('body').scrollspy({target: ".navbar", offset: 50});

        // Add smooth scrolling on all links inside the navbar
        $("#myNavbar a").on('click', function(event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 800, function() {

              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
            });
          } // End if
        });

        $("#homeButton a").on('click', function(event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 800, function() {

              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
            });
          } // End if
        });
      });

    </script>

  </body>
  <% include footer.ejs %>
    <% if (message){ %>
      <div class="modal" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" style="color:black;">
              <h5 class="modal-title" id="exampleModalLabel">Message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body" style="color:black;">
              <%= message %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <script>
        setTimeout(function() {
          $('#messageModal').modal('show');
        }, 1000);

      </script>
      <% } %>
