<<<<<<< Updated upstream
<link rel="stylesheet" href="/mypublic/assets/css/bootstrap.css">
<link rel="stylesheet" href="/mypublic/assets/css/styles.css">
=======
>>>>>>> Stashed changes
<link rel="stylesheet" href="/mypublic/assets/css/CSSindex.css">
<style>
    h2 { text-align: center; }
    table { margin:auto; color: white;}
    td { padding: 3px 5px; border: none; min-width:30%;}
    input { padding: 5px; max-width: 120px;  text-align: center; border: none; background: rgba(149, 222, 255, 0.1); border-radius: 5px; box-sizing: border-box; color: white;}
    input:focus { background: rgba(134, 154, 163, 0.5); outline: none }
    #aid, #key, #secret, #dname { max-width:100%; width: 100%; }
    #interval { width:60px; }
    p { margin:5px 0; text-align: center; color: white;}
    #imgLogo {margin:20px auto 0; max-width:20vw; display:block; -webkit-transform-style: flat; -moz-transform-style: flat; transform-style: flat;}
    #setNew { text-align:center }
    b.off  { color:#C00; }
    b.on { color:#008000; }
    html,body { margin: 0; max-height: 100vh; }
</style>
<div class="container">
  <div class="row" >
    <div class="col">
      <h1 style="text-align: center;">
        Data from the phone
      </h1>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col" >
      <table>
        <tr><th>App ID</th><td colspan="2"><input id="aid" value="10002" placeholder="10002" /></td></tr>
        <tr><th>App Key</th><td colspan="2"><input id="key" value="eef692a2338698656d0e3264c06acb5c" placeholder="eef692a2338698656d0e3264c06acb5c" /></td></tr>
        <tr><th>App Secret</th><td colspan="2"><input id="secret" value="a20a1dd71e37a8b22a5d2174493db17c" placeholder="a20a1dd71e37a8b22a5d2174493db17c" /></td></tr>
        <tr><th>Device Name</th><td colspan="2"><input id="dname" value="mobile-p4yoki" placeholder="Device Name" /></td></tr>
        <tr><th width="35%">Roll</th><td><input id="xslot" placeholder="KEY Name" /></td><td>Value = <i id="tLR"></i></td></tr>
        <tr><th>Pitch</th><td width="30%"><input id="yslot" placeholder="KEY Name" /></td><td>Value = <i id="tFB"></i></td></tr>
        <tr><th>Yaw</th><td><input id="zslot" placeholder="KEY Name" /></td><td width="35%">Value = <i id="tDR"></i></td></tr>
        <tr><th>Sending frequency</th><td><input min="100" type="number" step="100" id="interval" value="500" /> mSec</td><td> <b id="status" class="off">Offline</b></td></tr>
      </table>
      <br/>
    </div>
    <div class="col">
      <div><img src="/mypublic/assets/images/Circle-car.png" id="imgLogo"></div>
      <p><i id="sendStat"> ไม่มีการส่งข้อมูล </i><i id="lastSent"> </i><br/><font color="green">แตะที่รูปเพื่อ เริ่ม/หยุด การส่งข้อมูล</font></p>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-2">
      <button class="bcontrol speed-down">Break !</button>
    </div>
    <div style="text-align: center;">
      <button type="button" class="btn btn-secondary" id="setNew">Save &amp; Re-Connect</button>
    </div>
    <div class="col-3">
      <button class="bcontrol speed-up">Speed Up</button>
    </div>
  </div>
  <br/><br/>
  <script>
    var url = location.hostname+'/phone';
  </script>
  <img src= https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=url/>
</div>
