<% include header.ejs %>
<link rel="stylesheet" href="/mypublic/assets/css/CSSindex.css">
<div class="container">
    <div class='row'>
      <h1><%= project.name %></h1>
        <div class='col'>
            <button type="button" class="btn btn-primary btn-create" data-toggle="modal" data-target="#myProjectModal">
              + Create Project
            </button>
        </div>
    </div>
</div>
<% include footer.ejs %>
