<% include header.ejs %>
<div id="home" class="hero-bg02 valign-wrapper">
	<div class="header">
		<div class="container center">
			<h1>Error <%=status%></h1>
			<p><%=message%></p>
		</div>
	</div>
	<!--<div class="parallax"><img src="assets/images/furn01.jpg" alt="Unsplashed background img 1"></div>-->
</div>

<% include footer.ejs %>
