<% include header.ejs %>
<div id="title-banner">
	<div class="container center">
		<h3 class="header light white-text">Download SmartIoTLib</h3>
		<p id="breadcrumbs"><a href="/">Home</a> &raquo; Download</p>
	</div>
</div>
<div class="container">
	<div class="section">
		<div class="row">
			<h5><a href="/assets/libs/SmartIoT-esp8266.zip"><b>Download</b></a> - SmartIoT-esp8266-arduino</h5>
		</div>
	</div>
</div>
<% include footer.ejs %>
