<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
		<title><%=title%></title>

		<!-- CSS  -->
		<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="/assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	</head>
	<body>
		<div id="fb-root"></div><script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1019243344765874"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
		<!-- Loader -->
		<div id="loader-wrapper">
			<div id="loader"></div>
			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>
		</div>
		<!-- /Loader -->

		<header>
			<!-- Dropdown Structure -->
			<ul id="aboutMenu" class="dropdown-content">
				<li><a href="/#about">About Us</a></li>
				<li><a href="/#features">How Easy is it?</a></li>
				<li><a href="/#getstarted">Get Started</a></li>
				<li><a href="/#services">Our Services</a></li>
				<li><a href="/#showcase">Project Showcase</a></li>
				<li><a href="/#benefits">Who Benefits</a></li>
				<li><a href="/#pricing">Pricing</a></li>
				<li class="divider"></li>
				<li><a href="/#portfolio">Featured Projects</a></li>
				<li class="divider"></li>
				<li><a href="/#contact">Contact Us</a></li>
			</ul>

			<!-- Dropdown Structure -->
			<ul id="docsMenu" class="dropdown-content">
				<li><a href="/tutorials">Docs &amp; Tutorials</a></li>
				<li><a href="/demo">Demo &amp; Example</a></li>
				<li><a href="/download">Downloads</a></li>
			</ul>


			<!-- Dropdown Structure -->
			<ul id="accMenu" class="dropdown-content">
				<li><a href="/account">My Account</a></li>
				<li><a href="/logout">Sign out</a></li>
			</ul>

			<!-- Main Nav -->
			<nav role="navigation">
				<div class="nav-wrapper container">
					<a id="logo-container" href="/" class="brand-logo"><img src="/assets/images/oneClickIoT.png" height="70" alt=""></a>
					<ul class="right hide-on-med-and-down main-nav">
						<!-- Dropdown Trigger -->
						<li><a class="dropdown-button" data-activates="aboutMenu" data-beloworigin="true">Home <i class="material-icons right">arrow_drop_down</i></a></li>
						<!-- Dropdown Trigger -->
						<li><a class="dropdown-button" data-activates="docsMenu" data-beloworigin="true">Documents <i class="material-icons right">arrow_drop_down</i></a></li>
						<% if (isLoggedIn) { %>
						<li><a class="dropdown-button" data-activates="accMenu" data-beloworigin="true">Account<i class="material-icons right">arrow_drop_down</i></a></li>
						<li><a href="/projects" class="waves-effect waves-light btn orange">My Project</a></li>
						<% } else{ %>
						<li><a href="/login">Log In</a></li>
						<li><a href="/register" class="waves-effect waves-light btn modal-trigger orange">Sign Up</a></li>
						<% } %>
					</ul>

					<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
					<!-- Mobile Menu -->
					<ul class="side-nav" id="mobile-demo">
						<li><a href="/#home">Home</a></li>
						<li><a href="/#getstarted">Get Started</a></li>
						<li><a href="/#pricing">Pricing</a></li>
						<li><a href="/#contact">Contact Us</a></li>
						<li class="divider"></li>
						<li><a href="/tutorials">API Docs</a></li>
						<li><a href="/demo">Demo Projects</a></li>
						<li><a href="/download">Downloads</a></li>
						<li class="divider"></li>
						<% if (isLoggedIn) { %>
						<li><a href="/projects" class="">My Project</a></li>
						<li><a href="/account">My Account</a></li>
						<li><a href="/logout">Sign out</a></li>
						<% } else{ %>
						<li><a href="/login">Log In</a></li>
						<li><a href="/register" class="waves-effect waves-light btn modal-trigger white-text orange">Sign Up</a></li>
						<% } %>						
					</ul>	

				</div>

			</nav>

		</header>