<% include header.ejs %>

<div id="home" class="hero-bg01 valign-wrapper">
	<div class="header">
		<div class="container">
			<div class="hero-text valign">
				<div class="row">
					<h2 class="light white-text">Manage your own</h2>
					<div class="dark-giant-title">
						<h1 class="white-text text-lighten-2"><span class="text-highlight">Galaxy</span></h1>
					</div>
					<h6 class="white-text"><span>of Data</span></h6>
				</div>
				<div class="row">
					<a href="#about" id="download-button" class="btn-large waves-effect waves-light orange darken-2" target="_blank">Get Started</a>
				</div>
			</div>
		</div>
	</div>
	<!--<div class="parallax"><img src="assets/images/furn01.jpg" alt="Unsplashed background img 1"></div>-->
</div>


<!-- About Us Block -->
<section id="about" class="">
	<div class="parallax-container valign-wrapper">
		<div class="container">
			<div class="row center">

				<h3 class="white-text center light" style="text-shadow:1px 1px 1px #000">What is <b class="orange-text text-darken-2">One</b> <b class="blue-text text-darken-1">Click</b> <b class="grey-text text-darken-1">IoT</b></h3>
				<p class="center light"><b class="orange-text text-darken-2">One</b> <b class="blue-text text-darken-1">Click</b> <b class="grey-text text-darken-1">IoT</b> is the open platform for any IoT device which is Easy and Smart. </p>
				<div class="divider4"></div>

				<div class="col s12 m12 l6">
					<div class="card-panel grey lighten-4 z-depth-1 hoverable">
						<div class="row">
							<div class="col s4 center">
								<div><img src="assets/images/easy.png" alt="" class="circle responsive-img"></div>
							</div>
							<div class="col s8 left-align">
								<span class="red-text">How Easy?</span>
								<p class="black-text">
									Easy in Data Communication & Data Storage. We provide a library file for every IoT devices and you can connect to our service in only 3 steps. Moreover, We use Big Data Technology in our database to store your data.</p>
							</div>
						</div>
					</div>
				</div>
				<!--<div class="plusFloat"><i class="material-icons">add</i></div>-->
				<div class="col s12 m12 l6">
					<div class="card-panel grey lighten-4 z-depth-1 hoverable">
						<div class="row">
							<div class="col s4 center">
								<div><img src="assets/images/smart.png" alt="" class="circle responsive-img"></div>
							</div>
							<div class="col s8 left-align">
								<span class="red-text">How Smart?</span>
								<p class="black-text">
									Smart Analysis Tools & Interact. Our service can automatically create fascinating viusalization with your data. Moreover, We have react function that allow you to create condition and notify you when the data match the condition.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="parallax"><img src="assets/images/poly-bg03.jpg" alt="Unsplashed background img 3"></div>
	</div>
</section>

<!-- Features Block -->
<section id="features" class="white">
	<div class="container">
		<div class="row center">
			<h3 class="orange-text text-darken-2 light">As Easy as <b class="blue-text text-darken-1">1, 2, 3</b></h3>
		</div>
		<!--   Icon Section   -->
		<div class="row">
			<div class="col s12 m4 l4">
				<div class="icon-block">
					<h1 class="center orange-text text-darken-2"><i class="material-icons">add_circle</i></h1>
					<h4 class="center blue-text text-darken-1"><b>Step 1</b>: Create</h4>
					<p class="center light">
						Register <b class="orange-text text-darken-2">One</b> <b class="blue-text text-darken-1">Click</b> <b class="grey-text text-darken-1">IoT</b> at <a href="http://iot-chula.com">iot-chula.com</a> and create your first Project.</p>
				</div>
			</div>

			<div class="col s12 m4 l4">
				<div class="icon-block">
					<h1 class="center orange-text text-darken-2"><i class="material-icons">swap_vertical_circle</i></h1>
					<h4 class="center blue-text text-darken-1"><b>Step 2</b>: Connect</h4>
					<p class="center light">
						Get API key and download libraries then with a bit coding you will be able to connect your device to <b class="orange-text text-darken-2">One</b> <b class="blue-text text-darken-1">Click</b> <b class="grey-text text-darken-1">IoT</b> and ready to upload your data.</p>
				</div>
			</div>

			<div class="col s12 m4 l4">
				<div class="icon-block">
					<h1 class="center orange-text text-darken-2"><i class="material-icons">explore</i></h1>
					<h4 class="center blue-text text-darken-1"><b><b>Step 3</b>:</b> Explore</h4>
					<p class="center light">
						You can easily explore your data with <b class="orange-text text-darken-2">One</b> <b class="blue-text text-darken-1">Data</b> <b class="grey-text text-darken-1">Analysis</b> tools which increasing performance in exploring the data.</p>
				</div>
			</div>
		</div>

	</div>
</section>

<!-- Get Started Block -->
<section id="getstarted" class="cyan darken-3">
	<div class="container">
		<div class="row">

			<div class="col s12 m12 l5">
				<h3 class="light white-text">Get Started</h3>
				<p class="light white-text">
					See our couple minutes of <b class="orange-text text-darken-2">One</b> <b class="blue-text text-darken-1">Click</b> <b class="white-text text-darken-1">IoT</b> introducing video and Join us by clicking the button below.
					This video will show you What features our platform has provide? and Why we create this Powerfully platform?
				</p>

				<a class="waves-effect waves-light btn btn-large orange" href="/register">Register Now</a>

				<div class="divider4"></div>

			</div>

			<div class="col s12 m12 l7">
				<div class="video-container no-controls">
					<div class="youtube-container">
						<div class="youtube-player" data-id="0gmtRyl8JEs"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
	</div></section>

<!-- Our Services Block -->
<section id="services" class="white">
	<div class="container">
		<div class="row">

			<h3 class="light center cyan-text text-darken-3">Our Services</h3>
			<p class="center light">What Service <b class="orange-text text-darken-2">One</b> <b class="blue-text text-darken-1">Click</b> <b class="grey-text text-darken-1">IoT</b> Provided.</p>
			<div class="divider4"></div>

			<div class="col s12 l4">
				<div class="row">
					<div class="col s12 m2 l3 icon-block">
						<h2 class="cyan-text text-darken-3"><i class="material-icons">insert_chart</i></h2>
					</div>
					<div class="col s12 m10 l9">
						<h5 class="">Data Visualization</h5>
						<p class="light">
							Automatic Realtime Data Visualization from data in our database. We Provide many fascinating graphs and geo-location map for your device.
						</p>
					</div>
				</div>
				<div class="divider2"></div>
			</div>

			<div class="col s12 l4">
				<div class="row">
					<div class="col s12 m2 l3 icon-block">
						<h2 class="cyan-text text-darken-3"><i class="material-icons">search</i></h2>
					</div>
					<div class="col s12 m10 l9">
						<h5 class="">Data Analysis</h5>
						<p class="light">
							Not only visualization but also including Analysis function to analyse your data compare them and get some basic data statistic easily.
						</p>
					</div>
				</div>
				<div class="divider2"></div>
			</div>

			<div class="col s12 l4">
				<div class="row">
					<div class="col s12 m2 l3 icon-block">
						<h2 class="cyan-text text-darken-3"><i class="material-icons">announcement</i></h2>
					</div>
					<div class="col s12 m10 l9">
						<h5 class="">React Function</h5>
						<p class="light">
							Smart Interaction with your data. Set condition or threshold and get the notification email when the data match the condition.						</p>
					</div>
				</div>
				<div class="divider2"></div>
			</div>

		</div>

		<div class="row">

			<div class="col s12 l4">
				<div class="row">
					<div class="col s12 m2 l3 icon-block">
						<h2 class="cyan-text text-darken-3"><i class="material-icons">cloud_upload</i></h2>
					</div>
					<div class="col s12 m10 l9">
						<h5 class="">Data Storage</h5>
						<p class="light">
							Easy Storage data. We use big data technology that called "DynamoDB" to keep your data safe and support huge volume of data.						</p>
					</div>
				</div>
				<div class="divider2"></div>
			</div>

			<div class="col s12 l4">
				<div class="row">
					<div class="col s12 m2 l3 icon-block">
						<h2 class="cyan-text text-darken-3"><i class="material-icons">chat_bubble_outline</i></h2>
					</div>
					<div class="col s12 m10 l9">
						<h5 class="">Data Communication</h5>
						<p class="light">
							Easy Communicate between our service and your device. We provide library file for every IoT Device such as Mobile, Arduino, Raspberry Pi etc.						</p>
					</div>
				</div>
				<div class="divider2"></div>
			</div>

			<div class="col s12 l4">
				<div class="row">
					<div class="col s12 m2 l3 icon-block">
						<h2 class="cyan-text text-darken-3"><i class="material-icons">file_download</i></h2>
					</div>
					<div class="col s12 m10 l9">
						<h5 class="">Data Export</h5>
						<p class="light">
							If you want to analyse the data deeply. you can export your data from our web service easily and utilize it in your prefer program.						</p>
					</div>
				</div>
				<div class="divider2"></div>
			</div>

		</div>

	</div>
	</div>
</section>

<!-- Showcase Block -->
<section id="showcase" class="parallax-container valign-wrapper">
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h3 class="white-text light center">Project Showcase</h3>
					<p class="center white-text light">A showcase of the most powerful apps built with our <b class="orange-text text-darken-2">One</b> <b class="blue-text text-darken-1">Click</b> <b class="white-text text-darken-1">IoT</b></h3> library and service</p>
				</div>
			</div>

			<div class="row">

				<div class="divider2"></div>

				<div class="col s6 m3 l3">
					<div class="card">
						<a href="/demo#demo1">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src="assets/images/sc1.jpg">
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4">Temperature</span>
								<div class="divider1"></div>
								<p class="black-text">Using Arduino library to create a device in building.</p>
							</div>
						</a>
					</div>
					<div class="divider2"></div>
				</div>

				<div class="col s6 m3 l3">
					<div class="card">
						<a href="/demo#demo2">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src="assets/images/sc2.jpg">
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4">Motion Detector</span>
								<div class="divider1"></div>
								<p class="black-text">Using mobile library to send the X,Y axis of smartphone. </p>
							</div>
						</a>
					</div>
					<div class="divider2"></div>
				</div>

				<div class="col s6 m3 l3">
					<div class="card">
						<a href="/demo#demo3">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src="assets/images/sc3.png">
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4">Chat Room</span>
								<div class="divider1"></div>
								<p class="black-text">Using library to let the device speak to each others.</p>
							</div>
						</a>
					</div>
					<div class="divider2"></div>
				</div>

				<div class="col s6 m3 l3">
					<div class="card">
						<a href="/demo#demo4">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" src="assets/images/sc4.jpg">
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4">More...</span>
								<div class="divider1"></div>
								<p class="black-text">Explore our fascinating example and useful demo. </p>
							</div>
						</a>
					</div>
					<div class="divider2"></div>
				</div>

			</div>
		</div>
	</div>
	<div class="parallax"><img src="assets/images/poly-bg01.jpg" alt="Unsplashed background img 2"></div>
</section>

<!-- Who Benefits Block -->
<section id="benefits" class="white">
	<div class="container">
		<div class="row">

			<h3 class="light center black-text">Who can use <b class="orange-text text-darken-2">One</b> <b class="blue-text text-darken-1">Click</b> <b class="grey-text text-darken-1">IoT</b></h3>
			<p class="center light">Everybody who interested in Internet of Things and wolud like to use our services to utilize their project</p>
			<div class="divider4"></div>

			<div class="divider4"></div>

			<div class="col s12 m3 center">
				<img src="assets/images/developer.jpg" class="responsive-img materialboxed hoverable circle" data-caption="A picture of some deer and tons of trees">
				<div class="divider2"></div>
				<h5 class="black-text fw-500">Developer</h5>
				<p class="light">
					Internet of Things Developer.
				</p>

				<div class="divider4"></div>
			</div>
			<div class="col s12 m3 center">
				<img src="assets/images/educator.jpg" class="responsive-img materialboxed hoverable circle" data-caption="A picture of some deer and tons of trees">
				<div class="divider2"></div>
				<h5 class="black-text fw-500">Educator</h5>
			<p class="light">
				Internet of Things Educator
			</p>

			<div class="divider4"></div>
		</div>
		<div class="col s12 m3 center">
			<img src="assets/images/enterprise.jpg" class="responsive-img materialboxed hoverable circle" data-caption="A picture of some deer and tons of trees">
			<div class="divider2"></div>
			<h5 class="black-text fw-500">Enterprise</h5>
			<p class="light">
				Internet of Things Enterprise
			</p>

			<div class="divider4"></div>
		</div>
		<div class="col s12 m3 center">
			<img src="assets/images/freelancer.jpg" class="responsive-img materialboxed hoverable circle" data-caption="A picture of some deer and tons of trees">
			<div class="divider2"></div>
			<h5 class="black-text fw-500">Freelancer</h5>

			<p class="light">
				Internet of Things Freelancer
			</p>

		</div>
	</div>
</section>

<!-- Pricing Block -->
<section id="pricing" class="blue-grey darken-3">
		<div class="container">
			<div class="row center">

				<h3 class="light center white-text">Our Prices</h3>
				<h5 class="center light white-text">Find a plan that's right for you.</h5>
				<div class="divider4"></div>


				<div class="col s8 offset-s2 m6 l4 offset-l2">
					<div class="pricing proposal z-depth-2 hoverable">
						<div class="price-attrs">
							<div class="price-number">FREE</div>
							<div class="price-plan"><strong>Ideal for Everyone</strong></div>
							<div class="price-descr"><strong>Free FOREVER</strong> </div>
							<!--<div class="price-conclusion">Ideal for Companies</div>-->
						</div>

						<ul>
							<li>5 Projects</li>
							<li>100 Devices/Project</li>
							<li>100 Messages/sec</li>
						</ul>

						<a href="/register" class="waves-effect waves-light btn red center">Register Now</a>

					</div>
					<div class="divider4"></div>
				</div>
				<div class="col s8 offset-s2 m6 l4">
					<div class="pricing plain z-depth-1 hoverable">
						<div class="price-attrs">
							<div class="price-number blue-grey-text text-darken3">PRO</div>
							<div class="price-plan"><strong>For Enterprise</strong></div>
							<div class="price-descr"><strong>Call for Price</strong> </div>
							<!--<div class="price-conclusion">For Big Companies</div>-->
						</div>

						<ul>
							<li><b>Unlimited</b> Projects</li>
							<li><b>Unlimited</b> Devices</li>
							<li><b>10,000</b> Messages/sec</li>
						</ul>

						<a href="#contact" class="waves-effect waves-light btn blue-grey darken-2 center">Get A Quote</a>

					</div>
					<div class="divider4"></div>
				</div>
			</div>
		</div>
</section>

<!-- Featured Projects Block -->
<section id="portfolio" class="parallax-container">
		<div class="container">
			<div class="row">

				<h3 class="light center white-text">Featured Projects</h3>
				<p class="center light">With <b class="orange-text text-darken-2">One</b> <b class="blue-text text-darken-1">Click</b> <b class="white-text text-darken-1">IoT</b>, You can turn your sweet home into a <b class="orange-text text-darken-2">Smart</b> <b class="blue-text text-darken-1">Home</b> ! </p>
				<div class="divider4"></div>

				<div class="col s12 m6">
					<img src="assets/images/m-bg01.jpg" class="responsive-img materialboxed" data-caption="A picture of some deer and tons of trees">
					<div class="divider1-5"></div>
				</div>

				<div class="col s12 m6">
					<div class="row no-pad-bot">
						<div class="col s12 m6">
							<img src="assets/images/m-bg03.jpg" class="responsive-img materialboxed" data-caption="A picture of some deer and tons of trees">
							<div class="divider1-5"></div>
						</div>
						<div class="col s12 m6">
							<img src="assets/images/m-bg05.jpg" class="responsive-img materialboxed" data-caption="A picture of some deer and tons of trees">
							<div class="divider1-5"></div>
						</div>
					</div>
					<div class="row no-pad-bot">
						<div class="col s12 m6">
							<img src="assets/images/m-bg02.jpg" class="responsive-img materialboxed" data-caption="A picture of some deer and tons of trees">
							<div class="divider1-5"></div>
						</div>
						<div class="col s12 m6">
							<img src="assets/images/m-bg04.jpg" class="responsive-img materialboxed" data-caption="A picture of some deer and tons of trees">
							<div class="divider1-5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class="parallax"><img src="assets/images/f-bg04-01.jpg" alt="Unsplashed background img 2"></div>
</section>

<!-- Contact Us Block -->
<section id="contact" class="parallax-container">
	<div class="container">
		<h3 class="center light white-text">Contact Us</h3>
		<p class="center  white-text light">We are a team of Chulalongkorn University, college students working on this project. If you have a question please feel free to contact us via post below</p>
		<div class="divider4"></div>
		<div class="row" style="background:rgba(255,255,255,0.2)">
			<div class="col s12 m12">
				<div class="fb-comments" data-href="https://iot-chula.com/" data-numposts="30" data-colorscheme="light" data-width="100%"></div>
			</div>
		</div>
	</div>
	<div class="parallax"><img src="https://iot-chula.com/assets/images/poly-bg01.jpg" alt="Unsplashed background img 2" style="display: block; transform: translate3d(-50%, 71px, 0px);"></div>
</section>


<% include footer.ejs %>
