<% include header.ejs %>
<div id="title-banner">
	<div class="container center">
		<h3 class="header light white-text">My Account</h3>
		<p id="breadcrumbs"><a href="/">Home</a> &raquo; My Account </p>
	</div>
</div>
  <div class="container">
    <div class="section">
        <div class="row">
          <div class="col s12 m6">
            <table class="bordered">
              <tbody>
                <tr>
                  <td>Email</td>
                  <td><%=user.username%></td>
                </tr>
                <tr>
                  <td>Name</td>
                  <td><%=user.fname %> <%=user.lname %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row center">
          <div class="col s12 m6">
            <a href="/account/edit" id="download-button" class="btn waves-effect waves-light orange lighten-1" type="submit"><i class="material-icons left">settings</i>Edit Account</a>
          </div>
        </div>        
    </div>
  </div>

<% include footer.ejs %>
