<% include header.ejs %>
<div id="title-banner">
	<div class="container center">
		<h3 class="header light white-text">New Project</h3>
		<p id="breadcrumbs"><a href="/">Home</a> &raquo; New Project</p>
	</div>
</div>
<div class="container">
	<div class="section">
		<% if (info) { %>
		<div class="row"><div class="col s12"><div class="card-panel red lighten-5 red-text text-darken-4"><%=info%></div></div></div>
		<% } %>
		<div class="row">
			<form class="col s12 m6" method="post">
				<div id="field">
					<div class="row">
						<div class="input-field col s12">
							<input id="project_name" name="name" type="text" class="validate">
							<label for="project_name">Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<textarea id="descript" name="desc" class="materialize-textarea"></textarea>
							<label for="descript">Description</label>
						</div>
					</div>
					<div class="row devicesList">
						<div class="input-field col s12">
							<input id="device1" type="text" pattern="[a-zA-Z0-9]+" name="dev" required class="validate">
							<label for="device1">Data Slot 1</label>
						</div>
					</div>
				</div>
				<div class="row center">
					<a class="btn-floating btn-large waves-effect waves-light red" id="devAddInput"><i class="material-icons">add</i></a>
				</div>
				<div class="row center">
					<button class="btn waves-effect waves-light orange lighten-1" type="submit">Create Project</button>
				</div>
			</form>
			<div class="col s12 m6">
				<h4>Help</h4>
				<li><p><b>Name :</b> กรอกชื่อเรียก Projectn ส่วนนี้สามารถเปลี่ยนแปลงได้ในภายหลัง</p></li>
				<li><p><b>Apppcation ID :</b> กรอกชื่อของ Project โดยชื่อนี้จะถูกใช้เป็นช่องทางในการรับ-ส่งข้อมูลจึงต้องไม่ซ้ำกับใคร </p></li>
				<li><p><b>Description :</b> กรอกรายละเอียดของ Project ส่วนนี้สามารถเปลี่ยนแปลงได้ในภายหลัง</p></li>
				<li><p><b>Data Slot # :</b> กรอกชื่อเรียกของ device ที่จะใช้ในการรับ-ส่งข้อมูล ส่วนนี้สามารถเปลี่ยนแปลงได้ในภายหลัง</p></li>
			</div>
		</div>
	</div>
</div>

<% include footer.ejs %>
