<% include header.ejs %>
<div id="home" class="hero-bg01 valign-wrapper">
	<div class="header">
		<div class="container register-form">
			<form method="post" class="col s12 m6 offset-m3" action="/register" id="regisForm">
				<% if (info) { %>
				<div class="row"><div class="col s12"><div class="card-panel red lighten-5 red-text text-darken-4"><%=info%></div></div></div>
				<% } %>
				<div class="row">
					<div class="input-field col s12">
						<input id="email" type="email" class="validate" required name="username">
						<label for="email" data-error="อีเมลไม่ถูกต้อง">Email</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m12">
						<input id="rpass" type="password" class="validate" required name="password">
						<label for="rpass" data-error="กรุณาใช้พาสเวิร์ดที่มีความยาว 8 - 20 ตัวอักษร">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m12">
						<input id="cpass" type="password" class="validate" required>
						<label for="cpass" data-error="พาสเวิร์ดไม่ตรงกัน">Password Confirmation</label>
					</div>
				</div>
				<div class="row center">
					<button class="btn waves-effect waves-light" type="submit">Register
						<i class="material-icons right">send</i>
					</button>
				</div>
			</form>
		</div>
	</div>
	<!--<div class="parallax"><img src="assets/images/furn01.jpg" alt="Unsplashed background img 1"></div>-->
</div>

<% include footer.ejs %>
