<% include header.ejs %>
<div id="title-banner">
	<div class="container center">
		<h3 class="header light white-text">One Click IoT's Tutorials</h3>
		<p id="breadcrumbs"><a href="/">Home</a> &raquo; Tutorials</p>
	</div>
</div>
<div class="container">
	<div class="section">
		<div><h6><center>This is the tutorial video which will guide you to know our service and how to use our web service. Following it and creating wonderful things as you want.</center></h6></div>
		<br />
		<div class="row">
			<div><center><h5>How to Register New Account in One Click IoT</h5></center></div>
			<div class="video-container">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/wR3EfTfqxzo?list=PLxpqHMfahGxOeMMrEtfMObkMu0Csus3Dh" frameborder="0" allowfullscreen></iframe>
				</div>

			</div>

			<div><center><h5>How to Create New Project</h5></center></div>

			<div class="video-container">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/qkjs-eYAM7E?list=PLxpqHMfahGxOeMMrEtfMObkMu0Csus3Dh" frameborder="0" allowfullscreen></iframe>
			</div>

			</div>

			<div><center><h5>How to Download and install Library</h5></center></div>
			<div><center><h6>Coming Soon.</h6></center></div>
			<br />

			<div><center><h5>How to View Data in Project</h5></center></div>

			<div class="video-container">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/dAcFv2RH5Wk?list=PLxpqHMfahGxOeMMrEtfMObkMu0Csus3Dh" frameborder="0" allowfullscreen></iframe>
			</div>

			<br />

			<div><center><h5>How to use React function</h5></center></div>
			<div><center><h6>Coming Soon.</h6></center></div>
			<br />
			</div>


		</div>
	</div>
</div>
<% include footer.ejs %>
